.s1-title {
  h1 {
    position: absolute;
    top: 420px;
    color: white;
    font-family: Calibri-Light;
    font-weight: 100;
    font-size: 32pt;
    width: 100%;
    text-align: center;
  }

  h2 {
    position: absolute;
    top: 480px;
    color: white;
    font-family: Calibri;
    font-weight: 100;
    font-size: 20pt;
    width: 100%;
    text-align: center;
  }
}
