.stripped-background {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  & > * {
    width: 100%;
    position: relative;
    left: 800px;
    box-shadow: 1px 1px 31px #333;
  }
}
