.runner-carrot {
  position: absolute;
  top: 111px;
  left: 390px;
  width: 20px;
}

.carrot-line {
  position: absolute;
  top: 162px;
  left: 341px;
  border: 1px solid black;
  width: 116px;
  border-top: none;
  height: 6px;
}
